# Enable/Disable the use of the permission-node rank system.
# Should the integrated rank system be Enabled?
enabled: true

# Make rank displays theme-specific.
# If the below setting is Enabled, theme folders will generate a ranks.yml file, which will contain all ranks that are LOADED to the server.
# New ranks you add to this files "Ranks" section below will appear in each ranks.yml file when you restart the server.
theme-specific-displays: true
  
# Rank players will start with by default.
# If no default is specified no rank will be used.
default: 'Member'

# This weight determines which ranks are considered as staff ranks.
# Any rank with a weight higher than, or equal to what is set below will have staff perks.
staff-weight: 10

# Create and add/remove ranks below.
# Ranks will use "Display" set below for each rank unless explicitly set in each themes ranks.yml file otherwise disabled above.
ranks:

  Probation:
  
    # The following variables are applicable to the "Display" node.
    # Tags set in each themes "Tags" node are also applicable below.
    
    # [VARIABLE]     | [VALUE USE]   ; [SMALL DESCRIPTION]
    
    # \n             | Next Line     ; Send multiple lines of text.
    # %time%         | Time Stamp    ; Time the message was created.
    # %date%         | Date Stamp    ; Date the message was created.
    # %name%         | Player Name   ; Player name or disguise name.
    # %player%       | Real Name     ; Player name, ignores player disguises.
    # %rank%         | Rank          ; Rank that is being added, easier for copy/paste.
    
    # What will display when this rank is presented or infront of a players name when using chat.
    
    display: '&4&lP&r &7'
    
    # What will display when this rank is abbreviated.
    # Examples of abbreviation is in the tab list or a sidebar.
    
    abbreviation: 'None'
    
    # Command and permission weight.
    # The higher the weight the higher the authority.
    # If the weight is set to 0, the rank will not be able to do most things.
    # If the weight of a rank is 0 or lower, players will not be able to mask as the rank.
    # FleX default: [Probation] 0, [Member] 1, [Staff] 10+ (See Staff.Weight above)
    
    weight: 0
    
    # Weight is used in all rank restricted FleX commands.
    # You can also inherit another ranks permissions below.
    
    inherit: []
    
    # Want ranks per world or even per partition?
    # Simply add the worlds name or UUID below (find in the worlds info.yml).
    # If you would like the rank to be usable in all worlds, just add an asterisk ('*') to the list.
    
    worlds:
    - '*'
    
    # A place for permission nodes.
    # Since this is a all-in-one engine, this is quite necessary instead of just using static ranks.
    
    permissions:
    - permission.one
    - permission.you-guessed-it.two
    - another.permission.etc
    
  Bot:
    display: '&7&lBot&r &7'
    weight: 1
    inherit:
    - Member
    worlds:
    - '*'
    permissions: []
  Member:
    display: '&7'
    abbreviation: 'None'
    weight: 1
    inherit: []
    worlds:
    - '*'
    permissions: []
  Donor_1:
    display: '&7&lGladiator&r &f'
    weight: 2
    inherit:
    - Member
    worlds:
    - '*'
    permissions: []
  Donor_2:
    display: '&6&lChampion&r &f'
    weight: 3
    Inherit:
    - Donor_1
    worlds:
    - '*'
    permissions:
    - flex.command.fly
  Donor_3:
    display: '&3&lLegend&r &f'
    weight: 4
    Inherit:
    - Donor_2
    worlds:
    - '*'
    permissions:
    - flex.command.disguise
  Donor_4:
    display: '&b&lMythic&r &f'
    weight: 5
    inherit:
    - Donor_3
    worlds:
    - '*'
    permissions: []
  Donor_5:
    display: '&a&lEternal&r &f'
    weight: 6
    Inherit:
    - Donor_4
    worlds:
    - '*'
    permissions: []
  Map_Maker:
    display: '&d&lMap Maker&r &f'
    abbreviation: 'Author'
    weight: 7
    inherit:
    - Donor_5
    worlds:
    - '*'
    permissions: []
  VIP:
    display: '&5&lVIP&r &f'
    weight: 7
    inherit:
    - Donor_5
    worlds:
    - '*'
    permissions: []
  Moderator:
    display: '&c&lMod&r &f'
    weight: 9
    inherit:
    - Donor_5
    worlds:
    - '*'
    permissions:
    - flex.command.punish
    - flex.command.flex
    - flex.command.flow
    - flex.command.teleport
  Senior_Moderator:
    display: '&4&lSenior Mod&r &f'
    abbreviation: 'Sr.Mod'
    weight: 10
    inherit:
    - Moderator
    worlds:
    - '*'
    permissions: []
  Developer:
    display: '&4&lDeveloper&r &f'
    abbreviation: 'Devs'
    weight: 15
    inherit:
    - Senior_Moderator
    worlds:
    - '*'
    permissions:
    - flex.command.admin
    - flex.command.combat
    - flex.command.disguise.custom
    - flex.command.disguise.flip
    - flex.command.disguise.keepskin
    - flex.command.gamemode
  Administrator:
    display: '&4&lAdmin&r &f'
    weight: 20
    inherit:
    - Senior_Moderator
    worlds:
    - '*'
    permissions:
    - flex.command.admin
    - flex.command.disguise.keepskin
    - flex.command.gamemode
  Owner:
    display: '&4&lOwner&r &f'
    weight: 999
    inherit:
    - Administrator
    worlds:
    - '*'
    permissions:
    - '*'